BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: black; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
BODY {
	FONT-SIZE: 80%; FONT-FAMILY: Arial, Geneva CY, Sans-Serif
}
TD {
	FONT-SIZE: 80%; FONT-FAMILY: Arial, Geneva CY, Sans-Serif
}
TH {
	FONT-SIZE: 80%; FONT-FAMILY: Arial, Geneva CY, Sans-Serif
}
P {
	MARGIN: 0px 0px 0.6em
}

A {
	COLOR: #e50106
}
A:visited {
	COLOR: #e50106
}
A:hover {
	COLOR: #000000
}
.error {
	COLOR: #cc3333
}
A.popup IMG {
	MARGIN: 0.2em 0.6em 0px 0px
}


UL {
	PADDING: 0em 0em 0.7em 3em; FONT-SIZE: 100%; text-align: left; 
        MARGIN: -0.2em 0px 0em 0px; LIST-STYLE-TYPE: line
}
UL LI {
	MARGIN: 0em 0px 0px 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; 
}



TD.menu_main {
	PADDING:0px 10px 0px 10px; FONT-SIZE: 90%; COLOR: #d9d9d9;
}
A.menu_main {
	COLOR: #d9d9d9; TEXT-DECORATION: none
}
A.menu_main:visited {
	COLOR: #d9d9d9; TEXT-DECORATION: none
}
A.menu_main:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}

TD.menu_main_place {
	PADDING:0px 10px 0px 10px; FONT-SIZE: 80%; COLOR: #ee3539; FONT-WEIGHT: bold;
}


TD.menu_line_bgrd_left {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(menu_line_bgrd_left.gif); 
	BACKGROUND-REPEAT: repeat-y
}

TD.menu_line_bgrd_right {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(menu_line_bgrd_right.gif); 
	BACKGROUND-REPEAT: repeat-y
}


TD.menu_box {
	PADDING:20px 0px 0px 0px;
}

TD.menu {
	PADDING:0px 0px 1px 0px; FONT-SIZE: 80%; COLOR: #e50106; WHITE-SPACE: nowrap
}
A.menu {
	COLOR: #6e7071; TEXT-DECORATION: underline
}
A.menu:visited {
	COLOR: #6e7071; TEXT-DECORATION: underline
}
A.menu:hover {
	COLOR: #e50106; TEXT-DECORATION: underline
}

TD.menu_place {
	PADDING:0px 0px 1px 0px; FONT-SIZE: 80%; COLOR: #e50106; WHITE-SPACE: nowrap; FONT-WEIGHT: bold;
}



TD.service_box {
	PADDING:30px 0px 0px 0px;
}



TD.main_ill_left {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(main_ill_p1.jpg); 
	BACKGROUND-REPEAT: no-repeat
}
TD.main_ill_right {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(main_ill_p3.jpg); 
	BACKGROUND-REPEAT: no-repeat
}





TD.search_box {
	PADDING:30px 7px 0px 10px;
}
TD.search_subbox1 {
	PADDING:5px 0px 1px 4px; BACKGROUND-COLOR: #e9e9e9;
}
TD.search_subbox2 {
	PADDING:7px 5px 1px 5px; BACKGROUND-COLOR: #e9e9e9;
}
.search_form {
	WIDTH: 100%; 
}
.search_form .text {
	BORDER-LEFT: #c6c8c9 1px solid; BORDER-BOTTOM: #c6c8c9 1px solid; BORDER-RIGHT: #c6c8c9 1px solid; BORDER-TOP: #c6c8c9 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; BACKGROUND: #ffffff; FLOAT: left; MARGIN-BOTTOM: 5px; WIDTH: 100%; COLOR: #656565; MARGIN-RIGHT: 1px; FONT-FAMILY: Arial; HEIGHT: 22px
}

.search_form .button {
	BORDER-LEFT: #c6c8c9 1px solid; BORDER-BOTTOM: #c6c8c9 1px solid; BORDER-RIGHT: #c6c8c9 1px solid; BORDER-TOP: #c6c8c9 1px solid; FONT-SIZE: 12px; BACKGROUND: #fbc123; MARGIN-BOTTOM: 5px; WIDTH: 100px; CURSOR: hand; COLOR: #000000; MARGIN-RIGHT: 1px; FONT-FAMILY: Arial; HEIGHT: 22px
}




TD.bgrd_news {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(bgrd_news.gif); 
	BACKGROUND-REPEAT: repeat-x
}
TD.bgrd_projects {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(bgrd_projects.gif); 
	BACKGROUND-REPEAT: repeat-x
}
TD.bgrd_map {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(bgrd_map.gif); 
	BACKGROUND-REPEAT: repeat-x
}

TD.headline {
	PADDING:0px 0px 8px 0px; FONT-SIZE: 110%; COLOR: #ffffff; WHITE-SPACE: nowrap; valign: bottom;
}




TD.phones_head {
	PADDING:0px 10px 2px 5px; FONT-SIZE: 90%; COLOR: #e50106; WHITE-SPACE: nowrap; TEXT-ALIGN: top; FONT-WEIGHT: bold;
}
TD.phones {
	PADDING:0px 10px 0px 5px; FONT-SIZE: 100%; COLOR: #333333; WHITE-SPACE: nowrap; TEXT-ALIGN: top; 
}




TD.copy_bgrd {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(copy_line_bgrd.gif); 
	BACKGROUND-REPEAT: repeat-x
}
TD.copy_text {
	PADDING:0px 0px 5px 30px; FONT-SIZE: 70%; COLOR: #949494; WHITE-SPACE: nowrap; TEXT-ALIGN: top;
}




TD.projects_bgrd {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(projects_bgrd.gif); 
	BACKGROUND-REPEAT: repeat-x
}
TD.projects_box {
	PADDING:0px 0px 0px 0px;
}


DIV.project_title {
	PADDING:18px 5px 3px 13px; FONT-SIZE: 90%; COLOR: #e50106; TEXT-ALIGN: top; FONT-WEIGHT: bold;
}
A.project_title {
	COLOR: #e50106; TEXT-DECORATION: underline
}
A.project_title:visited {
	COLOR: #e50106; TEXT-DECORATION: underline
}
A.project_title:hover {
	COLOR: #474747; TEXT-DECORATION: underline
}


DIV.project_descript {
	PADDING:0px 5px 5px 13px; FONT-SIZE: 90%; COLOR: #646464; TEXT-ALIGN: top; 
}


DIV.project_title1 {
	PADDING:10px 5px 3px 0px; FONT-SIZE: 90%; COLOR: #e50106; TEXT-ALIGN: top; FONT-WEIGHT: bold;
}
A.project_title1 {
	COLOR: #e50106; TEXT-DECORATION: underline
}
A.project_title1:visited {
	COLOR: #e50106; TEXT-DECORATION: underline
}
A.project_title1:hover {
	COLOR: #474747; TEXT-DECORATION: underline
}


DIV.project_descript1 {
	PADDING:0px 5px 5px 0px; FONT-SIZE: 90%; COLOR: #646464; TEXT-ALIGN: top; 
}




TD.news_box {
	PADDING:17px 0px 0px 0px;
}
TD.news_bgrd {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(news_bgrd.gif); 
	BACKGROUND-REPEAT: repeat-x
} 

DIV.news_title {
	PADDING:0px 5px 2px 13px; FONT-SIZE: 90%; COLOR: #e50106; TEXT-ALIGN: top; FONT-WEIGHT: bold;
}
A.news_title {
	COLOR: #e50106; TEXT-DECORATION: underline
}
A.news_title:visited {
	COLOR: #e50106; TEXT-DECORATION: underline
}
A.news_title:hover {
	COLOR: #474747; TEXT-DECORATION: underline
}


DIV.news_descript {
	PADDING:0px 5px 12px 13px; FONT-SIZE: 90%; COLOR: #646464; TEXT-ALIGN: top; 
}

DIV.news_head {
	PADDING:2px 5px 8px 13px; FONT-SIZE: 100%; COLOR: #000000; TEXT-ALIGN: top; FONT-WEIGHT: bold;
}

DIV.news_date {
	PADDING:0px 5px 2px 13px; FONT-SIZE: 120%; COLOR: #e50106; TEXT-ALIGN: top;
}







TD.content_text_box {
	PADDING:20px 15px 50px 38px;
}

DIV.title_red {
	PADDING:0px 0px 9px 0px; FONT-SIZE: 160%; COLOR: #e50106; TEXT-ALIGN: top; FONT-WEIGHT: bold;
}

DIV.content_text {
	PADDING:0px 0px 0px 0px; FONT-SIZE: 90%; COLOR: #2b2b2b; TEXT-ALIGN: top;
}



TD.content_project_box {
	PADDING:27px 20px 50px 20px;
}


TD.content_titr_box {
	PADDING:27px 20px 50px 20px;
}

TD.titr_bgrd {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(bgrd_question.gif); 
	BACKGROUND-REPEAT: no-repeat
}

TD.bgrd_titr_line1 {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(bgrd_titr_line.gif); 
	BACKGROUND-REPEAT: repeat-x
}

TD.bgrd_titr_line2 {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(bgrd_titr_line.gif); 
	BACKGROUND-REPEAT: repeat-y
}

TD.bgrd_titr_line3 {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(bgrd_titr_line.gif); 
	BACKGROUND-REPEAT: repeat-x
}

TD.bgrd_titr_line4 {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(bgrd_titr_line.gif); 
	BACKGROUND-REPEAT: repeat-y
}


DIV.titr_text {
	PADDING:18px 15px 10px 20px; FONT-SIZE: 120%; COLOR: #474747; TEXT-ALIGN: top; line-height: 1.3em;
}

DIV.titr_question {
	PADDING:0px 15px 20px 60px; FONT-SIZE: 90%; COLOR: #e50106; TEXT-ALIGN: top;
}
A.titr_question {
	COLOR: #e50106; TEXT-DECORATION: underline
}
A.titr_question:visited {
	COLOR: #e50106; TEXT-DECORATION: underline
}
A.titr_question:hover {
	COLOR: #e50106; TEXT-DECORATION: underline
}



TD.content_right_box {
	PADDING:27px 30px 50px 30px;
}


TD.level0_submenu_box {
	PADDING:10px 10px 10px 10px; FONT-SIZE: 80%; COLOR: #474747; TEXT-ALIGN: top; line-height: 1.3em;
}

A.level0_submenu {
	COLOR: #474747; TEXT-DECORATION: underline
}
A.level0_submenu:visited {
	COLOR: #474747; TEXT-DECORATION: underline
}
A.level0_submenu:hover {
	COLOR: #e50106; TEXT-DECORATION: underline
}

DIV.level0_submenu_place {
	FONT-SIZE: 100%; COLOR: #e50106; TEXT-ALIGN: top; line-height: 1.3em; FONT-WEIGHT: bold;
}



UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.8em 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL LI {
	PADDING-LEFT: 12px; BACKGROUND: url(li.gif) no-repeat 0px 0.6em; MARGIN: 0.4em 0px 0px
}



TD.grey_text_box
 {
	PADDING:15px 10px 15px 15px;
}

DIV.grey_title {
	PADDING:0px 0px 7px 0px; FONT-SIZE: 100%; COLOR: #000000; FONT-WEIGHT: bold;
}

DIV.grey_text {
	PADDING:0px 0px 0px 0px; FONT-SIZE: 85%; COLOR: #333333; line-height: 1.4em;
}


UL.grey {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.8em 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL LI {
	PADDING-LEFT: 12px; BACKGROUND: url(li_grey.gif) no-repeat 0px 0.6em; MARGIN: 0.4em 0px 0px
}









.block_corner_tl {
 background: url(grey_corner_tl.gif) top left no-repeat;
 width: 6px;
 height: 6px;
}

.block_corner_tr {
 background: url(grey_corner_tr.gif) top right no-repeat;
 width: 6px;
 height: 6px;
}

.block_corner_bl {
 background: url(grey_corner_bl.gif) bottom left no-repeat;
 width: 6px;
 height: 6px;
}

.block_corner_br {
 background: url(grey_corner_br.gif) bottom right no-repeat;
 width: 6px;
 height: 6px;
}

TABLE.block_box {
	margin:8px 0px 13px 0px; float: right;

}

TD.block_text {
	PADDING:5px 15px 5px 20px; FONT-SIZE: 70%; COLOR: #333333; 
}






.vrezka {
float: left;
margin-right: 14px;
margin-bottom: 4px;
margin-top: 4px;
padding: 0px;
}



IMG.photo_vrezka {
	margin: 7px; 
}





UL.navigation_column {
  PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.8em 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL LI.navigation_column {
  PADDING-LEFT: 20px; BACKGROUND: url(li_none.gif) no-repeat 5px 0.7em; MARGIN: 0.4em 0px 0px
}



A.navigation_column:link {
        COLOR: #474747; TEXT-DECORATION: underline; FONT-WEIGHT: bold;
}
A.navigation_column:visited {
        COLOR: #474747; TEXT-DECORATION: underline; FONT-WEIGHT: bold;
}
A.navigation_column:hover {
        COLOR: #ee3539; TEXT-DECORATION: underline; FONT-WEIGHT: bold;
}

A.navigation:link {
        COLOR: #5a504b; TEXT-DECORATION: underline
}
A.navigation:visited {
        COLOR: #5a504b; TEXT-DECORATION: underline
}
A.navigation:hover {
        COLOR: #ee3539; TEXT-DECORATION: underline
}






.search_form_big {
  WIDTH: 90%; 
}
.search_form_big .text {
  BORDER-LEFT: #cfd2d2 1px solid; BORDER-BOTTOM: #cfd2d2 1px solid; BORDER-RIGHT: #cfd2d2 1px solid; BORDER-TOP: #cfd2d2 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; BACKGROUND: #ffffff; FLOAT: left; MARGIN-BOTTOM: 5px; WIDTH: 100%; COLOR: #656565; MARGIN-RIGHT: 1px; FONT-FAMILY: Arial; HEIGHT: 22px
}

.search_form_big .button {
  BORDER-LEFT: #a9a39c 1px solid; BORDER-BOTTOM: #a9a39c 1px solid; BORDER-RIGHT: #a9a39c 1px solid; BORDER-TOP: #a9a39c 1px solid; FONT-SIZE: 12px; BACKGROUND: #d26a67; MARGIN-BOTTOM: 5px; WIDTH: 100px; CURSOR: hand; COLOR: #ffffff; MARGIN-RIGHT: 1px; FONT-FAMILY: Arial; HEIGHT: 22px
}


TD.search_box1 {
  PADDING:25px 15px 0px 15px;
}
TD.search_box2 {
  PADDING:0px 15px 0px 15px;
}


.note {
  PADDING:15px 0px 5px 0px; FONT-STYLE: italic;
}

TD.pages {
	PADDING:20px 0px 0px 0px; 
}

/*1) �������*/
.red_small {
 PADDING:0px 0px 0px 0px; FONT-SIZE: 100%; COLOR: #e50106;
}
 
/*2) �������+*/
.red_big {
 PADDING:0px 0px 0px 0px; FONT-SIZE: 120%; COLOR: #e50106;
}
 
/*3) ������� ������*/
.red_big_bold {
 PADDING:0px 0px 0px 0px; FONT-SIZE: 120%; COLOR: #e50106; FONT-WEIGHT: bold
}
 
/*4) �����*/
.grey_small {
 PADDING:0px 0px 0px 0px; FONT-SIZE: 100%; COLOR: #999999;
}
 
/*5) �����+*/
.grey_big {
 PADDING:0px 0px 0px 0px; FONT-SIZE: 120%; COLOR: #999999;
}
 
 
/*6) ���������*/
.uppercase {
 PADDING:0px 0px 0px 0px; FONT-SIZE: 100%; TEXT-TRANSFORM: uppercase;
}

TD.menu_red {
	PADDING:1px 0px 2px 0px; FONT-SIZE: 90%; COLOR: #e50106; WHITE-SPACE: nowrap; FONT-WEIGHT: bold;
}
A.menu_red {
	COLOR: #e50106; TEXT-DECORATION: underline; FONT-WEIGHT: bold;
}
A.menu_red:visited {
	COLOR: #e50106; TEXT-DECORATION: underline; FONT-WEIGHT: bold;
}
A.menu_red:hover {
	COLOR: #e50106; TEXT-DECORATION: underline; FONT-WEIGHT: bold;
}


.h1 {
	PADDING:5px 0px 0px 0px; FONT-SIZE: 150%; COLOR: #000000; MARGIN: 0px 0px 0.1em
}
.h2 {
        PADDING:5px 0px 0px 0px; FONT-SIZE: 130%; COLOR: #000000; FONT-WEIGHT: bold; MARGIN: 0px 0px 0.1em
}


.h3 {
	PADDING:5px 0px 0px 0px; FONT-SIZE: 150%; COLOR: #999999; MARGIN: 0px 0px 0.1em
}
.h4 {
        PADDING:5px 0px 0px 0px; FONT-SIZE: 130%; COLOR: #999999; FONT-WEIGHT: bold; MARGIN: 0px 0px 0.1em
}


.h5 {
	PADDING:5px 0px 0px 0px; FONT-SIZE: 150%; COLOR: #e50106; MARGIN: 0px 0px 0.1em
}
.h6 {
        PADDING:5px 0px 0px 0px; FONT-SIZE: 130%; COLOR: #e50106; FONT-WEIGHT: bold; MARGIN: 0px 0px 0.1em
}




TD.demand_box {
  PADDING:10px 10px 10px 10px;
}

TD.form_field {
	PADDING:3px 5px 8px 7px;
}

TD.form_field_title {
	PADDING:10px 2px 3px 2px; FONT-SIZE: 90%;
}

TD.form_button {
	PADDING:12px 0px 3px 0px;
}

DIV.form_name {
	PADDING:0px 0px 0px 0px;
}


.demand_form {
	WIDTH: 80%; 
}
.demand_form .text {
	BORDER-LEFT: #bcbcbc 1px solid; BORDER-BOTTOM: #bcbcbc 1px solid; BORDER-RIGHT: #bcbcbc 1px solid;
        BORDER-TOP: #bcbcbc 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; BACKGROUND: #ffffff; 
        MARGIN-BOTTOM: 0px; COLOR: #656565; MARGIN-RIGHT: 1px; FONT-FAMILY: Arial; HEIGHT: 22px
}

.demand_form .text2 {
	BORDER-LEFT: #bcbcbc 1px solid; BORDER-BOTTOM: #bcbcbc 1px solid; BORDER-RIGHT: #bcbcbc 1px solid; BORDER-TOP: #bcbcbc 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 11px; BACKGROUND: #ffffff; FLOAT: left; MARGIN-BOTTOM: 18px; WIDTH: 100%; COLOR: #656565; MARGIN-RIGHT: 1px; FONT-FAMILY: Arial; HEIGHT: 120px
}

.demand_form .text3 {
	BORDER-LEFT: #bcbcbc 1px solid; BORDER-BOTTOM: #bcbcbc 1px solid; 
        BORDER-RIGHT: #bcbcbc 1px solid; BORDER-TOP: #bcbcbc 1px solid; 
        PADDING-LEFT: 3px; FONT-SIZE: 12px; BACKGROUND: #ffffff; 
        MARGIN-BOTTOM: 0px; COLOR: #656565; MARGIN-RIGHT: 1px; 
        FONT-FAMILY: Arial; HEIGHT: 22px
}

.demand_form .button {
	BORDER-LEFT: #e50106 1px solid; BORDER-BOTTOM: #e50106 1px solid; BORDER-RIGHT: #e50106 1px solid; BORDER-TOP: #e50106 1px solid; FONT-SIZE: 12px; BACKGROUND: #eef1f1; MARGIN-BOTTOM: 0px; WIDTH: 100px; CURSOR: hand; COLOR: #000000; MARGIN-RIGHT: 1px; FONT-FAMILY: Arial; HEIGHT: 22px
}

TD.form_star {
	FONT-SIZE: 150%; COLOR: #ff0000; PADDING:0px 3px 0px 3px;
}


.star {
	FONT-SIZE: 150%; COLOR: #ff0000; PADDING:0px 3px 0px 2px;
}


.text_head2 {
	PADDING:7px 0px 0px 5px; FONT-SIZE: 110%; COLOR: #000000; FONT-WEIGHT: bold;
}


.contact_note {
	PADDING:4px 0px 0px 0px; FONT-SIZE: 90%; COLOR: #858585; FONT-STYLE: italic;
}


IMG.sign {
	margin-top: 6px; margin-right: 9px;
}